<form method="post" action="{{ path('app_movie_genre_delete', {'id': movie_genre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movie_genre.id) }}">
    <button class="btn">Delete</button>
</form>
